In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.4.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
    --------------------------------------- 0.3/16.4 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.4 MB 2.8 MB/s eta 0:00:06
   --- ------------------------------------ 1.6/16.4 MB 2.6 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/16.4 MB 2.3 MB/s eta 0:00:07
   ----- ---------------------------------- 2.4/16.4 MB 2.1 MB/s eta 0:00:07
   ------ --------------------------------- 2.6/16.4 MB 2.2 MB/s eta 0:00:07
   ------- -------------------------------- 3.1/16.4 MB 2.1 MB/s eta 0:00:07
   -------- ------------------------------- 3.7/16.4 MB 2.1 MB/s eta 0:00:07
   ---------- ----------------------------- 4.2/16.4 MB 2.1 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/16.4 MB 2.3 MB/s eta 0:00:05
   ------------ --------------------------- 5.2/16.4 MB 2.2 MB/s eta 0:00:05
   --------------- ------------------------ 6.3/16.4 MB 2.4 MB/s eta 0:00:05
   ---------------- ----------------------- 6.8/16.4 MB 2.5 MB/s eta 0:00:04
   ----------------- ---------------------- 7.3/16.4 MB 2.5 MB/s eta 0:00:04
   ------------------ --------------------- 7.6/16.4 MB 2.5 MB/s eta 0:00:04
   ------------------- -------------------- 8.1/16.4 MB 2.4 MB/s eta 0:00:04
   ------------------- -------------------- 8.1/16.4 MB 2.4 MB/s eta 0:00:04
   --------------------- ------------------ 8.9/16.4 MB 2.3 MB/s eta 0:00:04
   ----------------------- ---------------- 9.7/16.4 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 10.5/16.4 MB 2.4 MB/s eta 0:00:03
   -------------------------- ------------- 10.7/16.4 MB 2.5 MB/s eta 0:00:03
   -------------------------- ------------- 10.7/16.4 MB 2.5 MB/s eta 0:00:03
   --------------------------- ------------ 11.3/16.4 MB 2.3 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.4 MB 2.3 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.4 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 13.1/16.4 MB 2.4 MB/s eta 0:00:02
   -------------------------------- ------- 13.4/16.4 MB 2.4 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.4 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.4 MB 2.4 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.4 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.4 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 2.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector

In [3]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db" # Replace with your database name
)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [4]:
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [5]:
cursor.execute("SELECT * FROM your_table")  # Replace with your SQL query
results = cursor.fetchall()

NameError: name 'cursor' is not defined